
/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}



.colorboxcontainer{
  display: flex;
  justify-content: center;
  align-content: center;
}


.selectorcolor{
  width: 100px;
  height: 100px;
  margin: 10px;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}

.boxlandingcontainer{
    display: flex;
    justify-content: center;

}

 #box{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   border: 1px solid black;
   width: 900px;
   height:400px;

 }


/* # display Id */
/* . means class */
